// todos
  .todos{
    background-color: #8388a3;
    width: 600px;
    margin: 0 auto;
    min-height: 300px;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 40px;
  }
  .todo-form{
    min-height: 50px;
    &_field{
      min-height: 30px;
      width: 250px;
      outline: none;
      border: none;
      background-color: HoneyDew;
      padding: 3px 10px;
      color: MediumPurple ;
      font-family: sans-serif;
    }
    &_button{
      text-transform: capitalize;
      font-family: sans;
      border-color: transparent;
      padding: 4px 16px;
      cursor: pointer;
      color: white;
      font-weight: 700;
      &:focus{
        outline: 1px solid yellow;
      }
    }
    #button{
      &_add{
        background-color: LimeGreen;
        &:hover{
          background-color: lighten(#32CD32, 15%);
          color: #FFFACD;
        }
      }
      &_remove{
        background-color: Crimson;
      &:hover{
        background-color: lighten(#DC143C, 15%);
        color: #FFFFACD;
      }
      }
    }

  }

.todo_list{
  padding: 0 30px;
  li{
    padding: 15px 10px 5px 10px;
    list-style: none;
    text-align: left;
    border-bottom: solid 1px lighten(#8388a3, 10%);
    background-color:  #8388a3;
    color: #700707;
    font-family: sans-serif;
    cursor: pointer;
    &:hover{
      background-color: darken( #8388a3, 10%);
    }
  }
  input[type=checkbox]{
    margin-right: 10px;
    outline: none;
    background-color: red;
  }
}

.done{
  opacity: .5;
  text-decoration: line-through;
  &:hover{
    background-color: rgba(#0f0, .5) !important;
  }
}